# NOTE, these are based on the macros from the Annex K3 Github.  I have made some small tweaks, but I'm a hack compared to them.  Annex Engineering deserves all the credit for this work.
# https://github.com/Annex-Engineering/Gasherbrum-K3
	
[gcode_macro Nozzle_Wiper_Variables]
# the values below are for a wiper located at (-8, 121)
variable_purge_x:       269  			# x purge location (nozzle centered in the open space)
variable_purge_y:       305 			# y purge location (nozzle centered in the open space)
variable_purge_x_entry: 265   			# x entry location before going to the purge location
variable_purge_y_entry: 290 			# y entry location before going to the purge location
variable_purge_x_entry_2: 265			# x location just after entering (nozzle tip goes through the gap between the frame and silicone wiper)
variable_purge_y_entry_2: 305 			# y location just after entering (nozzle tip goes through the gap between the frame and silicone wiper)
variable_wipe_dx:       -15   			# distance to move in x from the purge position in order to wipe
variable_wipe_dy:       0	  			# distance to move in y from the purge position in order to wipe
variable_wipe_count:    5   			# number of wipe cycles
variable_travel_speed:  300 			# how fast travel speeds will be performed
variable_entry_speed:   100 			# how fast to move from the entry location to the purge location
variable_wipe_speed:    80  			# how fast to move when wiping
variable_purge_speed:   7   			# how fast to extrude in mm/s when purging
variable_purge_fan:     64  			# default fan speed out of 255 when purging
variable_wipe_fan:      190  			# default fan speed out of 255 when wiping
variable_zpin_x:		206.5			# x-coordinate of the z-pin (avoiding z-pin at low z heights)
variable_zpin_y:		305				# y-coordinate of the z-pin (avoiding z-pin at low z heights)
gcode:

[gcode_macro Go_To_Purge_Location]
gcode:
    {% set Px = printer["gcode_macro Nozzle_Wiper_Variables"].purge_x|float %}
    {% set Py = printer["gcode_macro Nozzle_Wiper_Variables"].purge_y|float %}
    {% set Pxe = printer["gcode_macro Nozzle_Wiper_Variables"].purge_x_entry|float %}
    {% set Pye = printer["gcode_macro Nozzle_Wiper_Variables"].purge_y_entry|float %}
    {% set Pxe2 = printer["gcode_macro Nozzle_Wiper_Variables"].purge_x_entry_2|float %}
    {% set Pye2 = printer["gcode_macro Nozzle_Wiper_Variables"].purge_y_entry_2|float %}
    {% set St = printer["gcode_macro Nozzle_Wiper_Variables"].travel_speed * 60 %}
    {% set Se = printer["gcode_macro Nozzle_Wiper_Variables"].entry_speed * 60 %}
    {% set Zx = printer["gcode_macro Nozzle_Wiper_Variables"].zpin_x|float %}
    {% set Zy = printer["gcode_macro Nozzle_Wiper_Variables"].zpin_y|float %}

    SAVE_GCODE_STATE NAME=Go_To_Purge_Location_state
    G90
	
	Dock_probe
	
	# avoid the Z pin if nozzle is low to the bed
	{% if (printer.toolhead.position.z <= 2) and (printer.toolhead.position.x < Zx) and (printer.toolhead.position.y >= Zy - 5) %}   
		G0 x{Zx} Y{Zy-5} F18000					; Go to in front of the z-pin 
	{% endif %}
	
    {% if not (printer.toolhead.position.x == Px and printer.toolhead.position.y == Py) %}
        G1 X{Pxe} Y{Pye} F{St}			# purge entry location
        G1 X{Pxe2} Y{Pye2} F{Se}		# purge entry location 2
        G1 X{Px} Y{Py} F{Se}			# purge location (centered in the open space)
    {% endif %}

    RESTORE_GCODE_STATE NAME=Go_To_Purge_Location_state



[gcode_macro Wipe_Nozzle]
	Gcode:
		{% set OLD_FAN_SPEED = params.OLD_FAN_SPEED|default(-1)|int %}
		{% set Px = printer["gcode_macro Nozzle_Wiper_Variables"].purge_x|float %}
		{% set Py = printer["gcode_macro Nozzle_Wiper_Variables"].purge_y|float %}
		{% set Pxe = printer["gcode_macro Nozzle_Wiper_Variables"].purge_x_entry|float %}
		{% set Pye = printer["gcode_macro Nozzle_Wiper_Variables"].purge_y_entry|float %}
		{% set Wdx = printer["gcode_macro Nozzle_Wiper_Variables"].wipe_dx|float %}
		{% set Wdy = printer["gcode_macro Nozzle_Wiper_Variables"].wipe_dy|float %}
		{% set Wc = printer["gcode_macro Nozzle_Wiper_Variables"].wipe_count|int %}
		{% set Se = printer["gcode_macro Nozzle_Wiper_Variables"].entry_speed * 60 %}
		{% set Sw = printer["gcode_macro Nozzle_Wiper_Variables"].wipe_speed * 60 %}
		{% set Sf = printer["gcode_macro Nozzle_Wiper_Variables"].wipe_fan %}
		
		{% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
			G28
		{% endif %}
		SAVE_GCODE_STATE NAME=WipeNozzle 
		{% set old_Sf = printer.fan.speed %}
				{% set OldZ = printer.toolhead.position.z|float %}
		G90										; Absolute Positioning
		{% if printer.quad_gantry_level.applied != true %}
			QUAD_GANTRY_LEVEL
		{% endif %}
		
		Dock_probe
		
		
    {% if OLD_FAN_SPEED == -1 %}
        {% set old_Sf = printer.fan.speed %}
    {% else %}
        {% set old_Sf = OLD_FAN_SPEED %}
    {% endif %}
    
    {% if printer.fan.speed < Sf %}
        {% set wait_for_fan = True %}
    {% else %}
        {% set wait_for_fan = False %}
    {% endif %}

    G90

    Go_To_Purge_Location

    # set fan speed for wiping
    M106 S{Sf}					
    
    # wait for fan to cool filament if needed
    {% if wait_for_fan %}
        G4 P800
    {% endif %}

    # wipe nozzle
    G1 X{Px + Wdx} Y{Py + Wdy} F12000
    {% for i in range(Wc) %}
        G1 X{Px} Y{Py} F{Sw}
        G1 X{Px + Wdx} Y{Py + Wdy} F{Sw}
    {% endfor %}

    # move away from wiper
    G1 X{Pxe + Wdx} Y{Pye + Wdy} F{Se}

    # restore fan speed
    M106 S{(old_Sf * 255)|int}		
		
			
		RESTORE_GCODE_STATE NAME=WipeNozzle 

#   Purge material into the bucket
[gcode_macro Purge_and_Wipe]

gcode:
    {% set EXACT_TEMP = params.EXACT_TEMP|default(False) %}
    {% set TEMPERATURE = params.TEMPERATURE|default(230.0)|float %}
    {% set FEED_AMOUNT = params.FEED_AMOUNT|default(15.0)|float %}
    {% set MAX_FEED = params.MAX_FEED|default(8.0)|float %}

    {% set Sp = printer["gcode_macro Nozzle_Wiper_Variables"].purge_speed * 60 %}
    {% set Sf = printer["gcode_macro Nozzle_Wiper_Variables"].purge_fan %}
    {% set old_Sf = printer.fan.speed %}

    SAVE_GCODE_STATE NAME=Purge_state

    # make sure FEED_AMOUNT is at least 3 to avoid negative E movements
    {% if FEED_AMOUNT < 3 %}
        {% set FEED_AMOUNT = 3 %}
    {% endif %}
    
    # go to purge location
    Go_To_Purge_Location

    # wait for hotend
    {% if EXACT_TEMP|lower == 'true' or printer.extruder.temperature < TEMPERATURE %}
        M109 S{TEMPERATURE}
    {% endif %}

    # set fan speed for purging
    M106 S{Sf}

    # relative extrusion
    M83

    # if extrude length is unlimited, purge a single strip
    {% if MAX_FEED == -1 %}
        # extrude
        G1 E{FEED_AMOUNT - 3} F{Sp}
        G1 E3 F100

    # else purge multiple smaller strips
    {% else %}
        {% for i in range(((FEED_AMOUNT - 3) / MAX_FEED)|int) %}
            # go to purge location
            Go_To_Purge_Location
            
            # extrude
            G1 E{MAX_FEED - 3} F{Sp}
            G1 E3 F100

            # wait
            G4 P800

            # wipe the nozzle
            Wipe_Nozzle OLD_FAN_SPEED={Sf}
        {% endfor %}

        # purge remainder
        {% set remainder = (FEED_AMOUNT - 3)|int % MAX_FEED|int %}
        Go_To_Purge_Location
        G1 E{remainder} F{Sp}
        G1 E3 F100
    {% endif %}

    # reset E position
    G92 E0.0

    # wait
    G4 P800

    # wipe the nozzle
    Wipe_Nozzle OLD_FAN_SPEED={old_Sf}

    RESTORE_GCODE_STATE NAME=Purge_state MOVE=1 MOVE_SPEED=18000