## B Motor - Driver 0
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
microsteps: 32
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 132
position_max: 132
position_min: -13
homing_speed: 40 #20  #Max 100
homing_retract_dist: 20
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 0.8
home_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG6
driver_SGTHRS: 50

## A Motor - Driver 1
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
microsteps: 32
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
position_endstop: 123
position_max: 123
position_min: -2
homing_speed: 40 #20  #Max 100
homing_retract_dist: 20
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 0.9
home_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG9
driver_SGTHRS: 55 # 255 is most sensitive value, 0 is least sensitive

# Front Left Z - Driver 2
[stepper_z]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
rotation_distance: 32
full_steps_per_rotation: 200
microsteps: 32
endstop_pin: probe:z_virtual_endstop
position_min: -5
position_max: 110
homing_speed: 8
second_homing_speed: 3
homing_positive_dir:false

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PC6
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 99999 #<-- uncomment for stealthchop always on

# Rear Z - Driver 3
[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 99999 #<-- uncomment for stealthchop always on

# Front Right Z - Driver 4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 99999 #<-- uncomment for stealthchop always on

[z_tilt]
z_positions:
## For Manta-Ray Bed
 -43.5, 13
 60, 126
 163.5, 13
points:
 10,10
 60,110
 110,10
speed: 40
horizontal_move_z: 20
retries: 5
retry_tolerance: 0.02

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 10,10
mesh_max: 110,110
probe_count: 3, 3

#[motor_constants biqu-42HDB4036Z-24B]
# Coil resistance, Ohms
#resistance: 3.6
# Coil inductance, Henries
#inductance: 
# Holding torque, Nm
#holding_torque: 450
# Nominal rated current, Amps
#max_current: 1
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
#steps_per_revolution: 200

[autotune_tmc stepper_x]
motor: moons-ms14hs5p4150
sg4_thrs: 50
[autotune_tmc stepper_y]
motor: moons-ms14hs5p4150
sg4_thrs: 55

#[autotune_tmc stepper_z]
#motor: biqu-42HDB4036Z-24B
#[autotune_tmc stepper_z1]
#motor: biqu-42HDB4036Z-24B
#[autotune_tmc stepper_z2]
#motor: biqu-42HDB4036Z-24B